div.grid_12
    footer
        p Email:&nbsp;
            a(href='mailto:emma.patterson3@btinternet.com?subject=Childcare%20Enquiry') emma.patterson3@btinternet.com
            | &nbsp;&nbsp;Telephone: 07811 991148
        p Website Template by&nbsp;
            a.link(href='http://www.templatemonster.com/', target='_blank', rel='nofollow') www.templatemonster.com
div.clear
