header
    h1
        a(href='index.html') Childminder
    h2.emmapatterson Emma Patterson
    h2.top-7.left-2 Ofsted Registered Childminder and Qualified Primary Teacher Based in Dunnington, York
    nav
        include ./slider.jade
        include ./page-menu.jade
