div.grid_3.bot-1
    h2.top-3.p2.title Events
    p.text-1.p3 Monday 24th-Friday 28th October 2016
    p.p5 Half Term at Dunnington Primary.
    p.text-1.p3 Monday 19th December 2016
    p.p5 Christmas Holidays start at Dunnington Primary.
    p.text-1.p3 Monday 19th-Thursday 22nd December 2016
    p.p5 Holiday care available with limited capacity.  Please contact me for details.
    p.text-1.p3 Tuesday 3rd & Wednesday 4th January 2017
    p.p5 Training Days at Dunnington Primary.  Holiday care available with limited capacity.  Please contact me for details.
    p.text-1.p3 Thursday 5th January 2017
    p.p5 Dunnington Primary re-opens for the Spring Term.
    p.text-1.p3 
    p.p5 
    p.text-1.p3 
    p.p5 
    p.text-1.p3 
    p.p5 
