div.grid_3.bot-1
    h2.top-3.p2.title Events
    p.text-1.p3 Wednesday 3rd September 2014
    p.p5 Autumn Term starts at Dunnington Primary.
    p.text-1.p3 Monday 27th October - Friday 31st October 2014
    p.p5 Half Term - Holiday Care available with limited places. Please contact me for details.
    p.text-1.p3 Monday 3rd November 2014
    p.p5 Dunnington Primary re-opens.
    p.text-1.p3 Friday 19th December 2014
    p.p5 Dunnington Primary closes for the Christmas and New Year break.
    p.text-1.p3 Monday 22nd & Tuesday 23rd December 2014, Monday 5th January 2015
    p.p5 Holiday Care available with limited places. Contact me for details.
    p.text-1.p3 Tuesday 6th January 2015
    p.p5 Spring Term starts at Dunnington Primary.
    p.text-1.p3 Monday 16th February - Friday 20th February 2015
    p.p5 Half Term - Holiday Care is available with limited places. Please contact me for details.
    p.text-1.p3 Monday 23rd February 2015
    p.p5 Dunnington Primary re-opens.
