ul.menu
    li(class= page === "Home" ? "current": "")
        a.clr-1(href='/') Home
    li(class= page === "EYFS" ? "current": "")
        a.clr-2(href='/eyfs') EYFS
    li(class= page === "Policies" ? "current": "")
        a.clr-3(href='/policies') Policies
    li(class= page === "Times/Fees" ? "current": "")
        a.clr-4(href='/timesfees') Times/Fees
    li(class= page === "Misc." ? "current": "")
        a.clr-5(href='/misc') Misc.
    li(class= page === "Gallery" ? "current": "")
        a.clr-9(href='/gallery') Gallery
    li(class= page === "Contacts" ? "current": "")
        a.clr-8(href='/contacts') Contacts
