ul.menu
    li(class= page === "index" ? "current": "")
        a.clr-1(href='/') Home
    li(class= page === "eyfs" ? "current": "")
        a.clr-2(href='/eyfs') EYFS
    li(class= page === "policies" ? "current": "")
        a.clr-3(href='/policies') Policies
    li(class= page === "timesfees" ? "current": "")
        a.clr-4(href='/timesfees') Times/Fees
    li(class= page === "misc" ? "current": "")
        a.clr-5(href='/misc') Misc.
    li(class= page === "gallery" ? "current": "")
        a.clr-9(href='/gallery') Gallery
    li(class= page === "contacts" ? "current": "")
        a.clr-8(href='/contacts') Contacts
