extends layout
block content
    h2.clr-6.p5.title Contact Details
    h2.clr-6.p6.top-3 Email Address
    p
        a(href="mailto:emma.patterson3@btinternet.com?subject=Childcare%20Enquiry") emma.patterson3@btinternet.com
    h2.clr-6.p6.top-3 Telephone
    p 07811 991148
    h2.clr-6.p6.top-3 Location
    div.map
        iframe(width="330", height="230", frameborder="0", scrolling="no", marginheight="0", marginwidth="0", src="https://maps.google.co.uk/maps?f=q&source=s_q&hl=en&geocode=+&q=dunnington&ie=UTF8&hq=&hnear=Dunnington,+York,+United+Kingdom&ll=53.963516,-0.977587&spn=0.122186,0.338173&t=m&z=10&output=embed")
        br
        small
            a(href="https://maps.google.co.uk/maps?f=q&source=embed&hl=en&geocode=+&q=dunnington&ie=UTF8&hq=&hnear=Dunnington,+York,+United+Kingdom&ll=53.963516,-0.977587&spn=0.122186,0.338173&t=m&z=12", style="color:#0000FF;text-align:left") View Larger Map
