extends layout
block content
    h2.clr-6.p5.title Early Years Foundation Stage (Revised 2012)
    p.clr-6.p5 In September 2012, the Government published new statutory guidance for all childminders, nurseries, pre-schools and schools in how to care for children from birth to the age of 5.  This is known as the ‘Statutory Framework for the Early Years Foundation Stage’ or Revised EYFS for short.  I am able to deliver the new educational programme contained in the Revised EYFS, providing activities and experiences that are both age and developmentally appropriate for the individual needs of children in my care.
    p.clr-6.p5 The educational programme is split into 3 prime areas and 4 specific areas.  These 7 areas have been developed based on research into how children learn best and reflect the range of skills, knowledge and attitudes that children need as foundations for good future progress.  The areas can be summarised as follows:
    h2.clr-6.p6 Prime Areas:
    p.clr-6.p6
        b Communication and Language
        | &nbsp;&nbsp;Giving children opportunities to experience a rich language environment; to develop their confidence and skills in expressing themselves; to speak and listen in a range of situations.
    div.pad-3
        img.img-border.img-indent(src='/img/eyfs-img3.jpg', alt='')
        p.clr-6.p6
            b Physical Development
            | &nbsp;&nbsp;Providing opportunities for young children to be active and interactive; develop their co-ordination, control and movement; help them to understand the importance of physical activity and to make healthy choices in relation to food.
    p.clr-6.p5
        b Personal, Social and Emotional Development
        | &nbsp;&nbsp;Helping children to develop a positive sense of themselves and others; form positive relationships and develop respect for others; develop social skills and learn how to manage their feelings; understand appropriate behaviour in groups; have confidence in own abilities.
    h2.clr-6.p6 Specific Areas:
    div.pad-3
        img.img-border.img-indent-right(src='/img/eyfs-img4.jpg', alt='')
        p.clr-6.p6
            b Literacy
            | &nbsp;&nbsp;Encouraging children to link sounds and letters and to begin to read and write; be given access to reading materials to ignite their interest.
        p.clr-6.p6
            b Mathematics
            | &nbsp;&nbsp;Providing opportunities to develop and improve their skills in counting, understanding and using numbers, calculating simple addition and subtraction problems; describe shapes, spaces and measures.
    div.pad-3
        img.img-border.img-indent(src='/img/eyfs-img5.jpg', alt='')
        p.clr-6.p6
            b Understanding the World
            | &nbsp;&nbsp;Guiding children to make sense of their physical world and their community through opportunities to explore, observe and find out about people, places, technology and the environment.
    p.clr-6.p5
        b Expressive Arts and Design
        | &nbsp;&nbsp;Enabling children to explore and play with a wide range of media and materials; providing opportunities and encouragement for sharing their thoughts, ideas and feelings through art, music, movement, dance, role-play and design and technology.
    p.clr-6.p1
        | For further information on the Revised EYFS, please visit the&nbsp;
        a(href='https://www.education.gov.uk/publications/standard/AllPublications/Page1/DFE-00023-2012') Department for Education website
        | .
    h2.clr-6.p5(style='font-size:20px') How I will deliver the Revised EYFS
    p.clr-6.p5 My teaching experience has meant that I am well trained and practised in considering the individual needs, interests, age and developmental stage of each child in my care before planning and carrying out activities and play opportunities.  This ensures that experiences are enjoyable, challenging and tailored to the needs of individual children.  I include a mixture of adult-led activities and experiences, and child-initiated play, as research shows that this is how children learn best.  It is important for children to investigate and explore new experiences and I aim to provide this within a safe and secure environment, where potential risks have been carefully identified and controlled.  Children will be encouraged to develop concentration skills and be supported to persevere when something is tricky in order to enjoy the feeling of success when they achieve something new.  Children are able to develop and extend their own interests, as well as being introduced to a range of activities and experiences that may be new to them in order to allow them to make progress in all 7 of the areas identified in the Revised EYFS.
    div.pad-3
        img.img-border.img-indent(src='/img/eyfs-img1.jpg', alt='')
        p.clr-6.p5 Parents and carers are incredibly important in the role of delivering the EYFS too and where possible, I aim to respond to interests and activities that you have developed at home with your child, in order to create a strong partnership between us.  I aim to provide regular feedback about your child’s progress within the Revised EYFS and offer ideas about how you could further support your child at home, on outings, etc. in order for them to continue to make good progress towards the early learning goals at the end of the Foundation Stage (end of Reception class, aged 5).
    div.pad-3
        img.img-border.img-indent-right(src='/img/eyfs-img2.jpg', alt='')
        p.clr-6.p5 Parents/Carers will also be asked to contribute towards their child’s ‘Learning Journey’ Profile.  This is a record of your child’s learning and development told through photographs, observations, ‘work’ produced by your child, e.g. drawings and models made, etc.  This information (with your permission) will be shared with other professionals involved in your child’s life, for example other childcare providers, Health Visitors, School Reception class teachers, etc. in order for them to obtain a clear and accurate picture of your child’s development.  Profiles are also a unique and valuable keepsake at the end of the Foundation Stage, allowing you and your child to look back over all of your child’s achievements and celebrate their progress.
