extends layout
block content
    h2.clr-6.p5.title Our Gallery
    div.pag
        div.img-pags
        ul
            li
                a(href="#")
                    span
                        img.img-border(src="/img/gallery-1.jpg", alt="")
                        strong.text-2 &nbsp;
            li
                a(href="#")
                    span
                        img.img-border(src="/img/gallery-2.jpg", alt="")
                        strong.text-2 &nbsp;
            li
                a(href="#")
                    span
                        img.img-border(src="/img/gallery-3.jpg", alt="")
                        strong.text-2 &nbsp;
            li
                a(href="#")
                    span
                        img.img-border(src="/img/gallery-4.jpg", alt="")
                        strong.text-2 &nbsp;
            li
                a(href="#")
                    span
                        img.img-border(src="/img/gallery-5.jpg", alt="")
                        strong.text-2 &nbsp;
            li
                a(href="#")
                    span
                        img.img-border(src="/img/gallery-6.jpg", alt="")
            li
                a(href="#")
                    span
                        img.img-border(src="/img/gallery-7.jpg", alt="")
                        strong.text-2 &nbsp;
            li
                a(href="#")
                    span
                        img.img-border(src="/img/gallery-8.jpg", alt="")
                        strong.text-2 &nbsp;

