extends layout
block content
    h2.p2.handwriting.page-title Dear Parents/Carers,
    p.clr-6.p7 I am an Ofsted registered childminder based in a home environment in the village of Dunnington, just to the east of York.  I am also a qualified primary teacher with over 13 years of teaching experience from Reception class to Year 6.  In addition to my professional experience of working with children, I am a parent of two children and therefore understand the needs of young babies and toddlers too.
    p.clr-6.p7 I aim to provide a welcoming, safe and stimulating environment in which all children can develop their abilities in a happy and fun way.  I know how important it is as a parent to choose the right kind of childcare to suit your family’s needs and I aim to be as flexible and accommodating as possible in ensuring that the needs of both your child and your family are met in an individual and personal way.
    p.clr-6.p7 I am passionate about offering a service which provides the best start in life for your child and I look forward to working in partnership with you to ensure that your child’s individual needs are met.
    p.clr-6.p7 I hope that you find the information on this website helpful, but if you have any further questions, please do not hesitate to contact me.
    p.clr-6.p5 I look forward to meeting you and your child soon!
    p.clr-6.p5 Yours faithfully,
    h3.handwriting Emma Patterson
