extends layout
block content
    h2.clr-6.p5.title.page-title Miscellaneous Information
    h2.clr-6.p6 Personal Property
    div.pad-3
        img.img-border.img-indent-right(src="/img/misc-img1.png", alt="")
        p.clr-6.p6 All children will need to bring with them a change of clothes and suitable outdoor shoes (all clearly named please), as we will play outside as often as the British weather allows and participate in a variety of exciting, interesting (and sometimes messy!) activities which may result in your child needing to get changed.  For this reason, clothes should be easily washable and/or old to avoid their best outfits getting spoiled and children being worried about getting involved with painting, etc.  In warmer weather, please provide your child with sun cream and a sun hat and in colder weather with warm outdoor clothes, coat, hat, gloves, etc.  There will be somewhere safe to store your child’s belongings during the day and children will be encouraged both to look after their things and respect the belongings of others.
    h2.clr-6.p6 Nappies
    div.pad-3
        img.img-border.img-indent(src="/img/misc-img2.png", alt="")
        p.clr-6.p6 Parents are expected to provide nappies if their child requires them, however I will provide sensitive wipes for nappy changes unless parents wish to provide their own.  If your child suffers from nappy rash, please also provide a suitable cream to be applied during nappy changes and you will be asked to record this on a medication log.
    h2.clr-6.p6 Milk
    div.pad-3
        img.img-border.img-indent-right(src="/img/misc-img3.png", alt="")
        p.clr-6.p6 For babies and young children drinking breast or formula milk, please note that all cleaning, sterilising and preparing of bottles must be carried out at home.  In line with guidance from the Food Standards Agency, I will safely store sterilised bottles in the fridge, but formula powder must be provided separately to be added after the boiled water to minimise the risk of infection.  You can also provide bottles of expressed breast milk which I will store in the fridge to be warmed directly before a feed, but please note that milk must be used within 24 hours of being expressed so please mark times on bottles clearly to avoid the potential risk of infection.
