extends layout
block content
    h2.clr-6.p5.title Policies
    p.clr-6.p5 Full versions of all policies are available upon request.  However, in line with Ofsted requirements I have included below a summary of each of the key policies in place to promote the welfare of your child whilst in my care.
    h2.clr-6.p6 Admissions and Equal Opportunities Policy
    div.pad-3
        img.img-border.img-indent-right(src='/img/policies-img1.jpg', alt='')
        p.clr-6.p6 I aim to be as welcoming and accommodating as possible in providing care for all children, irrespective of ethnicity, culture, religion, home language, family background, learning difficulties, disabilities, gender, ability or age.  I use a flexible approach which involves consultation with parents (and other agencies where appropriate) to individually tailor the provision I offer to cater for a diverse range of learning needs.  I promote a sense of pride in the children as unique individuals, as well as encouraging an ethos of respect for differences between themselves and others.
    h2.clr-6.p6 Behaviour Policy
    div.pad-3
        img.img-border.img-indent(src='/img/policies-img2.jpg', alt='')
        p.clr-6.p6 I use a ‘positive behaviour’ approach which promotes, praises and reinforces good behaviour, rather than focusing on negative behaviour.  I develop ‘Golden Rules’ with the children to help them to understand what good behaviour means.  Children behaving badly will be asked to think about how to change their behaviour in line with the rules.  In some instances, children may need a short ‘time-out’ to cool off before returning to an activity.  In these cases, the child will never be removed to an area where they are unable to be properly supervised.  Corporal punishment will never be used as a means to reprimand children in my care.  In the unlikely event that a child’s misbehaviour will potentially cause harm or injury to themselves or others, I will take careful steps to physically intervene and record such interventions in a log which will be shared with parents/carers.
    h2.clr-6.p6 Safeguarding Policy
    div.pad-3
        img.img-border.img-indent-right(src='/img/policies-img3.jpg', alt='')
        p.clr-6.p6 I will promote the welfare of children in my care and take the necessary steps to safeguard children against harm, abuse or neglect.  I will ensure that the learning environment is safe and secure and that children do not come into unsupervised contact with other children or adults whilst in my care.  I will ensure that records held about children or photographs/images taken for their Learning Journeys are kept secure within the setting and not used outside it unless with prior, written, parental consent.  I will be vigilant for signs that a child’s welfare may be at risk and I will record any concerns in a Child Protection Log.  I will raise concerns with parents/carers or where this will increase the risk of harm to a child, I will contact Social Services.  I will also ask parents to record the details of any pre-existing injuries in an Accident/Incident Log.
    h2.clr-6.p6 Non-collection Policy
    div.pad-3
        img.img-border.img-indent(src='/img/policies-img4.jpg', alt='')
        p.clr-6.p6 If children are not collected at the agreed time, I will endeavour to contact the parents at the earliest opportunity to discover the nature of the delay and make arrangements to look after the child for a longer period of time (extra charges apply).  If I am unable to contact the parents, I will contact the next named ‘emergency contact’ to arrange for the child to be collected by them.  If neither the parents nor the emergency contacts are available, after 2 hours I will contact Social Services and take advice from them about what should happen next.
    h2.clr-6.p6 Visits/Lost Child Policy
    p.clr-6.p5 The house and garden will be kept secure at all times to prevent individuals from gaining access to the premises and to prevent children from being able to leave the premises without my knowledge and/or permission.  Whilst on trips and outings, children will be closely supervised at all times.  Parental permission will be sought for all trips and outings before they take place and locations will be fully risk assessed on a regular basis.  In the unlikely event that a child should become lost whilst in my care, I will search the immediate vicinity.  If the child cannot be immediately found I will contact the Police and then the parents/carers of the missing child.  Ofsted and Social services will also be notified.
    h2.clr-6.p6 Food and Drink Policy
    p.clr-6.p5 I aim to provide healthy, balanced and nutritious meals, snacks and drinks throughout the day, taking into account individual children’s dietary requirements, food allergies and preferences.  Morning and afternoon snacks, lunch and tea will be provided, as well as fresh drinking water being available throughout the day.  Children will be encouraged to try new tastes and to make their own choices from a healthy selection.  Mealtimes – Lunch at 12pm and Tea at 4.30pm.
    h2.clr-6.p6 Complaints Procedure
    p.clr-6.p5 I am passionate about providing a good quality service and take seriously any feedback, both positive and negative, that parents may have.  I aim to discuss concerns with parents and carers as soon as they arise, in order to resolve any issues quickly and achieve an outcome which is acceptable to everyone involved.  I will keep a Complaints Log and aim to deal with all complaints within a maximum time of 28 days, liaising with parents/carers, Ofsted and other relevant outside agencies where necessary.  Should parents wish to contact Ofsted directly, the contact details are included below and can be provided upon request at any time.
    div.pad-3
        p.clr-6 Ofsted,
        p.clr-6 Royal Exchange Buildings,
        p.clr-6 St. Ann’s Square,
        p.clr-6 Manchester,
        p.clr-6 M2 7LA.
        p.clr-6 Tel: 03001231231
        p.clr-6 Email:&nbsp;
            a(href='mailto:enquiries@ofsted.gov.uk') enquiries@ofsted.gov.uk
    h2.clr-6.p6 Variation to Terms and Conditions
    p.clr-6.p5 I reserve the right to give four weeks’ written notice to terminate or vary the conditions of the contracts in place.  This includes fee changes and availability of childcare.
    p.clr-6.p5 Parents and Carers are also asked to provide four weeks’ written notice to terminate the contracts in place.  This includes reducing the hours that their child attends.  If sufficient notice is not given, parents will still be liable for the four weeks’ worth of fees that would have been due during that time.
