extends layout
block content

    h2.clr-6.p5.title.page-title Times and Fees
    p.clr-6.p5 Open Monday-Thursday. Sibling and full-time discounts available, please ask for details.

    h2.clr-6.p5(style="font-size:18px") Childcare for pre-school age children
    table.table
        tr
            th Session
            th Charge
            th Times
            th.last Includes
        tr
            td Full day
            td £40
            td 7.30am - 5.45pm
            td All snacks, lunch and tea
        tr
            td AM session
            td £21
            td 7.30am – 12.30pm
            td Morning snack and lunch
        tr
            td PM session
            td £21
            td 1.00pm - 5.45pm
            td Afternoon snack and tea
    p.clr-6.p5 Late collection of child after the end of a session:&nbsp;
        b £5 per hour or part thereof
        | .

    h2.clr-6.p5(style="font-size:18px") Childcare for school age children
    table.table
        tr
            th Session
            th Charge
            th Times
            th.last Includes
        tr
            td Before school
            td £8
            td 7.30am - 8.55am
            td Drop-off at Dunnington Primary. Term-time only.
        tr
            td After school
            td £11
            td 3.20pm - 5.45pm
            td Pick-up from Dunnington Primary and tea. Term-time only.
    p.clr-6.p5 Late collection of child after the end of a session:&nbsp;
        b £5 per hour or part thereof
        | .

    h2.clr-6.p5(style="font-size:18px") Holiday care for school age children (available with a limited capacity)
    table.table
        tr
            th Session
            th Charge
            th Times
            th.last Includes
        tr
            td Full day
            td £30
            td 7.30am - 6.00pm
            td All snacks, lunch and tea
        tr
            td AM session
            td £17
            td 7.30am – 12.30pm
            td Morning snack and lunch
        tr
            td PM session
            td £17
            td 1.00pm - 5.45pm
            td Afternoon snack and tea
    p.clr-6.p5 Late collection of child after the end of a session:&nbsp;
        b £5 per hour or part thereof
        | .

    h2.clr-6.p6 Payment
    p.clr-6.p5 Fees are due on 1st of the month for the month ahead.  Payment is via bank transfer, employer childcare vouchers (by prior arrangement) or cash.  Late payments after 1st of the month will incur a late payment fee of £10 which will be added to the following month’s bill.  Any additional hours/days booked or late collection of child fees will also be added to the following month’s bill.

    h2.clr-6.p6 Holidays/Illness
    p.clr-6.p5 You can apply for a maximum of 2 weeks absence for your child, charged at 50% of the normal rate which will be deducted from the following month’s bill.  For children who do not attend on a full-time basis, the absence entitlement is on a pro-rata basis. Holidays should be booked at least two weeks in advance.
    p.clr-6.p5 Childcare will not be available on Bank Holidays and if your child would normally attend on these days, you will not be charged for them (Easter, May & August).  Childcare will also not be available between Christmas and New Year.  In line with other childcare providers, this will be charged at 50% of the normal fees, but will not affect your 2 weeks of holiday entitlement.
    p.clr-6.p5 In addition to this, there will be no childcare available for up to 4 weeks during the year when I plan my own family holiday.  You will need to make alternative childcare arrangements for this time, but you will be given plenty of advance notice so that alternative arrangements can be made and you will not be charged for any sessions your child was due to attend during this time.
